<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixbpmtraining/menu.application.title" opened="true">
        <item view="jbt_User.list" title="msg://com.company.jmixbpmtraining.view.user/UserListView.title"/>
        <item view="jbt_PizzaItem.list"
              title="msg://com.company.jmixbpmtraining.view.pizzaitem/pizzaItemListView.title"/>
        <item view="jbt_PizzaOrder.list"
              title="msg://com.company.jmixbpmtraining.view.pizzaorder/pizzaOrderListView.title"/>
        <item view="jbt_OrderLine.list"
              title="msg://com.company.jmixbpmtraining.view.orderline/orderLineListView.title"/>
        <item view="jbt_Account.list" title="msg://com.company.jmixbpmtraining.view.account/accountListView.title"/>
    </menu>

</menu-config>